extends layout

block content
  h2#feedback-header Partner's Abilities
  hr
  .row
    .col-lg
      h3#feedback-question Coding Knowledge
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="How was your partner's code?"
          )
    .col-lg
      h3#feedback-question Communication Skills
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="How could your partner inprove their communication?"
          )
    .col-lg
      h3#feedback-question Problem Solving
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="Any further comments?"
          )
    .col-lg
      div(style='text-align:center')
        //- input(type='submit')
        button.btn.btn-default(
          type="submit"
        ) Submit Button

  block content
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> Done </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> Premium Service! </h4>
          </div>
          <div class="modal-body">
            p Use your credits to talk with experienced technical interviewers (ex Google / Apple / Tesla employees)
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">View credit payment options</button>
          </div>
        </div>
      </div>
    </div>
