extends layout

block content
  h2#feedback-header Partner's Abilities
  hr
  .row
    .col-lg
      h3#feedback-question Coding Knowledge
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="How was your partner's code?"
          )
    .col-lg
      h3#feedback-question Communication Skills
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="How could your partner inprove their communication?"
          )
    .col-lg
      h3#feedback-question Problem Solving
    .col-lg
      .rating#feedback-starbar
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ☆
        span#feedback-star ★
        span#feedback-star ★
    .col-lg
      form(role="form")
        .form-group#feedback-text
          textarea.form-control(
            rows="5"
            placeholder="Any further comments?"
          )
    .col-lg
      div(style='text-align:center')
        //- input(type='submit')
        button.btn.btn-default(
          type="submit"
        ) Submit Button